<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="yes" name="apple-touch-fullscreen">
	<meta content="telephone=no" name="format-detection">
	<meta content="black" name="apple-mobile-web-app-status-bar-style">
	<meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
	<title>上班者联盟-开始游戏</title>
	<link rel="stylesheet" type="text/css" href="css/main.css">
    <script type="text/javascript" src="../../js/jquery/jquery-1.8.2.min.js"></script>
    <script type="text/javascript" src="../../js/jquery/fastclick.js"></script>

</head>
<body class="greenBg">
    <div class="mainDiv"></div>
	<article>
		<div class="main">
			<div class="hand"></div>
            <p id="startNum"><span class="num">3</span><!--  <span class="go"></span> --></p>
            <div class="boss p-r"><span class="bang"></span></div>
            <div class="countDiv">
                <div class="count clearfix">
                    <span class="countNum fist" id="click_num">0</span>
                    <span class="countNum clock" id="timerc">10</span>  
                </div>
            </div>
		</div>
	</article>
</body>
<script type="text/javascript">
/*300 毫秒点击延迟*/
window.addEventListener('load', function() {
    FastClick.attach(document.body);
}, false);

var i= 0;
$(function(){
    $(".main").on("touchstart",function(e){
         $(".hand").stop(!0,!1).animate({"top":184+"px"},30,function(){
                    $(".bang").show();
                $(".hand").stop(!0,!1).animate({"top":0+"px"},20,function(){
                    $(".bang").hide();
                });
             })
         e.preventDefault();
         i++;
         $("#click_num").html(i);
    })
})

$(".mainDiv,.main").css({"height":$(window).height()});

var num = 4;
function stnum(){
    if(num == 1){
      $("#startNum").html("<span class=\"go\"></span>");
      num--;
      setTimeout("stnum()", 1000);
    }else if(num==0){
      $("#startNum").html("");
      $(".mainDiv").hide();
      subnum();
    }else{
      $("#mainDiv").hide();
      num--; 
      $("#startNum").html("<span class=\"num\">"+num+"</span>"); 
      setTimeout("stnum()", 1000);
    }
}
stnum();

/*底部倒计时 拳数累计*/
var timerc = 11;
function subnum(){
    if(timerc == 1){
        timerc = 0;
        $("#timerc").html(timerc);
        $(".mainDiv").show();
    }else{
      $("#mainDiv").hide();
      --timerc; 
      $("#timerc").html(timerc); 
      setTimeout("subnum()", 1000);
    }
}
            
</script>
</html>
